
.gradient-text {
  background: rgb(121,231,172);
  background: linear-gradient(90deg, rgba(121,231,172,1) 0%, rgba(50,161,203,1) 47%, rgba(0,212,255,1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.title_{
	color:rgb(255,255,255);
}
.postlink{
  text-decoration: none;
}

.title_:hover{
  background: rgb(121,231,172);
  background: linear-gradient(90deg, rgba(121,231,172,1) 0%, rgba(50,161,203,1) 47%, rgba(0,212,255,1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;	
}
.container {
  max-width: 700px;
  margin: auto;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.btn{
  background: rgb(121,231,172);
  background: linear-gradient(90deg, rgba(121,231,172,1) 0%, rgba(50,161,203,1) 47%, rgba(0,212,255,1) 100%);
  border: none;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  background-color:whitesmoke;
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(50,161,203,1) 47%, rgba(121,231,172,1) 100%);
}


body{
	background-color: #363E63;
  overflow-x: hidden;
}
